@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Signika+Negative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.app-card {
  width: 640px;
  height: 100%;
  background-color: #fefef2cd;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 10px;
  border-radius: 30px;
  border-color: #024d3e;
  padding: 25px;
  margin: 5px 5px 5px 5px;
}

.image-style {
  border-style: solid;
  border-color: #024d3e;
  border-width: 10px;
  border-radius: 30px;
}

.app-title {
  font-family: "Bungee", cursive;
  font-size: 38px;
  color: #024d3e;
  font-weight: bold;
}

.app-description {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Signika Negative", sans-serif;
  font-size: 25px;
  color: #024d3e;
}

.project-buttons {
  background-color: #024d3e;
  color: #fefef2;
  font-family: "Bungee", cursive;
  font-size: 25px;
  border-style: solid;
  border-color: #3a8e3d;
  border-radius: 5px;
  margin-top: 13px;
  margin-left: 8px;
  margin-right: 8px;
}

.project-buttons:hover {
  background-color: #3a8e3d;
  transform: scale(1.1);
}

.project-buttons:active {
  background-color: #3a8e3d;
}
