.app-card {
  width: 25vw;
  background-color: #fefef2c6;
  /* justify-content: center;
  align-items: center; */
  /* border-style: solid;
  /* border-color: #faaa1c; */
  /* border-width: 8px;  */
  padding: 25px;
  margin: 10px 10px 10px 10px;
}
