.page-title {
  font-family: "Bungee", cursive;
  font-size: 90px;
  color: #faaa1c;
  /* background-color: #fefef2; */
  background-color: #fefef2cd;
}

.under-construction {
  font-family: "Bungee", cursive;
  font-size: 70px;
  color: #024d3e;
  /* background-color: #fefef2; */
  background-color: #fefef2cd;
  margin-left: 80px;
}
