.form-bg {
  background-color: #fefef2d0;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
}

.title-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  font-family: "Bungee", cursive;
  font-size: 83px;
  color: #faaa1c;
  /* background-color: #fefef2; */
  background-color: #fefef2d0;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
}

.form-titles {
  font-family: "Bungee", cursive;
  font-size: 30px;
  color: #024d3e;
  /* background-color: #fefef2; */
  /* background-color: #fefef2d0; */
  border-style: solid;
  border-color: #024d3e;
  border-radius: 5px;
  text-align: left;
  margin-top: 17px;
  padding: 3px;
}

.button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  background-color: #024d3e;
  color: #fefef2;
  font-family: "Bungee", cursive;
  font-size: 35px;
  border-style: solid;
  border-color: #3a8e3d;
  border-radius: 5px;
  margin-top: 13px;
}

.submit-button:hover {
  background-color: #3a8e3d;
}

.submit-button:active {
  background-color: #3a8e3d;
}

.input-size {
  height: 50px;
  font-size: 27px;
  color: #024d3e;
}

.msg-font-size {
  font-size: 20px;
}
