.contact-me {
  font-family: "Bungee", cursive;
  font-size: 75px;
  color: #b061e2;
  /* background-color: #fefef2; */
  background: #fefef2;
}

.form-titles {
  font-family: "Bungee", cursive;
  font-size: 25px;
  color: #fefef2;
  background-color: rgb(233, 60, 60);
}
