@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.headerName {
  font-family: "Bungee", cursive;
  font-size: 75px;
  margin-top: 15px;
  color: #b061e2;
  background-color: #fefef2;
}
