@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.navSpacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fefef2;
  padding-bottom: 15px;
}
.navBarFont {
  margin: 24px 24px 24px 24px;
  font-family: "Bungee", cursive;
  font-size: 35px;
  color: #fe4a49;
}

.navBarFont:hover {
  color: #7e43a2;
}

/* #fefef2; */
