@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.navSpacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navBarFont {
  margin: 23px 23px 23px 23px;
  font-family: "Bungee", cursive;
  font-size: 35px;
  color: #fe4a49;
}

.navBarFont:hover {
  color: #581482;
}
