.footer-style {
  background-color: #4f9952;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #fefef2;
  margin: 10px, 10px, 10px, 10px;
}
