@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Signika+Negative:wght@700&display=swap");

.body-div {
  display: flex;

  /* flex-wrap: wrap; */
}

.headshot {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
}

.page-title-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.page-title-style {
  font-family: "Bungee", cursive;
  font-size: 90px;
  color: #faaa1c;
  /* background-color: #fefef2; */
  background-color: #fefef2cb;
}

.about-text {
  background-color: #fefef2a9;
  color: #024d3e;
  font-size: 43px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Signika Negative", sans-serif;
  width: 90%;
}
